--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.0+cu121
torchvision==0.16.0+cu121
numpy==1.26.4
opencv-python==4.10.0.84
openmim>=0.3.9
huggingface-hub>=0.24
psutil>=5.9
tqdm>=4.66
pypdfium2>=4.30,<6
