manuscript-ocr @ git+https://github.com/konstantinkozhin/manuscript-ocr.git@1bc3b501d3f3124cc166613b279c463dadc3ef6d
easyocr==1.7.2
python-doctr>=0.11,<1
openocr-python==0.1.5
huggingface-hub>=0.20,<1
kaggle>=1.6.11,<2
numpy
psutil
ultralytics
transformers>=4.50,<5
tqdm
PyYAML==6.0.2
pypdfium2>=4.30,<6
